@let name_let = nombre();
@let lastname_let = apellido();
@let age_let = edad();
@let info_let = texto();
@let disabled_let = deshabilitado();

<div class="container d-flex justify-content-center mt-5">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ name_let }} {{ lastname_let }}</mat-card-title>

      <mat-card-subtitle>
        Es un prestigioso programador de tan solo {{ age_let }} años de edad
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ info_let }}</p>
      <p>En 5 años tendrá {{ edadEn5Anios() }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button [disabled]="disabled_let">LIKE</button>
      <button mat-button [disabled]="disabled_let">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
