<!-- navbar of bootstrap -->
<div class="dark-mode">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <!-- Brand -->
      <a
        class="navbar-brand"
        routerLink="/"
        (click)="handleSelectMenuOption('/')"
      >
        Angular 18
      </a>

      <!-- Toggler Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Generar menú dinámico -->
          @for (menuRoute of menuRoutes; track menuRoute.label) {
          <li class="nav-item" [class.dropdown]="menuRoute.children">
            <!-- Menú con submenús -->
            @if (menuRoute.children; as menuRouteChildren) {
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [ngClass]="{ 'text-danger': menuOption === menuRoute.path }"
            >
              {{ menuRoute.label }}
            </a>

            <ul class="dropdown-menu">
              @for (menuRouteChild of menuRouteChildren; track
              menuRouteChild.label) {
              <li>
                <a
                  class="dropdown-item"
                  routerLink="{{ menuRouteChild.path }}"
                  [ngClass]="{
                    'bg-primary': menuOptionChild === menuRouteChild.path
                  }"
                  (click)="handleSelectMenuOptionChild(menuRouteChild.path)"
                >
                  {{ menuRouteChild.label }}
                </a>
              </li>
              }
            </ul>

            }
            <!-- Menú simple -->
            @else {
            <a
              class="nav-link"
              aria-current="page"
              [ngClass]="{ 'text-danger': menuOption === menuRoute.path }"
              routerLink="{{ menuRoute.path }}"
              (click)="handleSelectMenuOption(menuRoute.path)"
            >
              {{ menuRoute.label }}
            </a>
            }
          </li>
          }
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet />
  </div>
</div>
