<!-- navbar of bootstrap -->
<div class="dark-mode">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        [class.active]="menuOption === 'home'"
        routerLink="/"
        (click)="handleSelectMenuOption('home')"
        >Angular 18</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Home -->
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'home'"
              aria-current="page"
              routerLink="/"
              (click)="handleSelectMenuOption('home')"
              >Home</a
            >
          </li>

          <!-- Signals Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Signals
            </a>

            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  routerLink="signals/inputs"
                  (click)="handleSelectMenuOption('signals/inputs')"
                >
                  Inputs
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  routerLink="signals/outputs"
                  (click)="handleSelectMenuOption('signals/outputs')"
                >
                  Outputs
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  routerLink="signals/queries"
                  (click)="handleSelectMenuOption('signals/queries')"
                >
                  Queries
                </a>
              </li>

              <li>
                <a
                  class="dropdown-item"
                  routerLink="signals/model-inputs"
                  (click)="handleSelectMenuOption('signals/model-inputs')"
                >
                  Model Inputs
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'content'"
              aria-current="page"
              routerLink="content"
              (click)="handleSelectMenuOption('content')"
            >
              Content
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'optimized-image'"
              aria-current="page"
              routerLink="optimized-image"
              (click)="handleSelectMenuOption('optimized-image')"
            >
              Optimized Image
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'defer'"
              aria-current="page"
              routerLink="defer"
              (click)="handleSelectMenuOption('defer')"
              >Defer</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'forms'"
              aria-current="page"
              routerLink="forms"
              (click)="handleSelectMenuOption('forms')"
              >Forms</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="menuOption === 'redireccion'"
              aria-current="page"
              routerLink="redireccion"
              (click)="handleSelectMenuOption('redireccion')"
            >
              Redirección
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet />
  </div>
</div>
